/.gradle
/astli/build
/astli/output
/dexlib/build
/dexlib2/build
/dexlib2/accessorTestGenerator/build
/smali/build
/util/build
*.iml
*.ipr
*.iws
.idea
/nbproject/private/
/build/
/nbproject
/dist/
/SmaliHack/.nb-gradle/
.nb-gradle-properties
.nb-gradle/

