<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!-- <PatternLayout pattern="%d %-5p [%t] %C{2} (%F:%L) - %m%n"/> -->
            <PatternLayout pattern="%m%n"/>
        </Console>
        <File name="DEBUG" fileName="log/debug.org" append="false">
          <PatternLayout pattern="%m%n" />
        </File>
        <File name="INFO" fileName="log/info.org" append="false">
          <PatternLayout pattern="%m%n" />
        </File>
        <File name="RESULT" fileName="log/result.org" append="false">
          <PatternLayout pattern="%m%n" />
        </File>
     </Appenders>
    
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="STDOUT" level="warn"/>
            <AppenderRef ref="DEBUG"  level="debug"/>
            <AppenderRef ref="INFO"   level="info"/>
        </Root>
        
        <Logger name="org.androidlibid.proto.match.SetupLogger" level="info" additivity="false">
            <AppenderRef ref="RESULT"/>
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="DEBUG"/>
            <AppenderRef ref="INFO"/>
        </Logger>
        
        <Logger name="org.androidlibid.proto.match.ResultEvaluator" level="info" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="DEBUG"/>
            <AppenderRef ref="INFO"/>
        </Logger>
        
        <Logger name="org.androidlibid.proto.match.ResultEvaluator.Results" level="info" additivity="false">
            <AppenderRef ref="RESULT"/>
        </Logger>
        
        <Logger name="org.androidlibid.proto.match.StatsLogger" level="info" additivity="false">
            <AppenderRef ref="RESULT"/>
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="DEBUG"/>
            <AppenderRef ref="INFO"/>
        </Logger>
        
        <Logger name="org.androidlibid.proto.integration.mainTest" level="info" additivity="false">
            <AppenderRef ref="RESULT"/>
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="INFO"/>
        </Logger>
        
        <Logger name="org.androidlibid.proto.match.MatchFingerprintsAlgorithm" level="info"/>
        
        <Logger name="org.androidlibid.proto.match.HybridStrategy" level="info"/>
        
        <Logger name="org.androidlibid.proto.match.PackageSignatureMatcher" level="info"/>

        <Logger name="org.androidlibid.proto.match.inclusion.InclusionStrategy" level="info"/>
        <!--<Logger name="org.androidlibid.proto.match.InclusionStrategy" level="debug"/>-->
        
        <Logger name="org.androidlibid.proto.match.inclusion.PackageInclusionCalculator" level="info"/>
        
        <Logger name="org.androidlibid.proto.match.inclusion.QuickInclusionCalculator" level="info"/>
        
        <Logger name="org.androidlibid.proto.match.DebugObfuscationInvarianceStrategy" level="info"/>
        
<!--        <Logger name="org.androidlibid.proto.match.inclusion.ClassInclusionCalculator" level="info" additivity="false">
            <AppenderRef ref="DEBUG"/>
        </Logger>-->
        
        <!--<Logger name="org.androidlibid.proto.PackageHierarchyGenerator"     level="info"/>-->
        
        <Logger name="org.androidlibid.proto.store.ClassFingerprintCreator" level="debug" />
        
        
        <!--<Logger name="org.androidlibid.proto.StoreMethodFingerprint" level="debug"/>-->
        
        <!--<Logger name="org.androidlibid.proto.ast.ASTMethodDefinitionTest" level="info"/>-->
        
        <!--<Logger name="org.androidlibid.proto.ast.ASTClassDefinitionTest" level="info"/>-->

    </Loggers>
</Configuration>